# .cache 폴더 무시(모델 생성)
.cache/

# __pycache__ 폴더 무시
__pycache__/

# .csv 데이터셋 무시
*.csv

# .xlsx 데이터셋 무시
*.xlsx

# .txt 데이터셋 무시
*.txt

# log 폴더 무시
lightning_logs/
log/

# img 폴더 무시
img/

# 모델 무시
model_ckpt/
# git remote test